.cardBG {
padding-bottom: 30px;
  background: #fff;
    border-radius: 2px;
    height: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

 .cardBGNoHov{

   background: #fff;
     border-radius: 2px;
     height: 300px;
      overflow: auto;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 }

.cardBG:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.contentText{
  padding-left: 10%;

  padding-right: 10%;
}

.contentTitle{
  padding-left: 10%;
  padding-top: 36px;
}

.newContent {
  margin-top: 2.2%;
}

.ftrImg {
  width: 100%;
}

.socialIcons {
  height: 40px;
}


.topPad {
  margin-top: 30px;
}

.listMarg {
  margin-top: -12px;
}

.banTextList {
  margin-left: 10%;
}

.banTextList1{
  margin-left: 11.5%
}

#banTextList2 {
  margin-bottom: 10px;
}
.listBan {
  margin-top: -70px;
  margin-bottom: 300px;
}

#bigTextBan{
  margin-top: -40px;
  font-size: 10vh;
  color: #0091EA;
}

#banLessPad{
  margin-top: -15px;
}

.banPadBot{
  margin-bottom: 80px;
}
#bannerBig {
  background-image: url("heroBan2.jpg");
}


@media only screen and (max-width:320px) {
  .cardBGNoHov {
    height: 500px;
  }

  .banTextList1 {
    margin-left: 10%;
  }

  .banTextList {
    margin-left: 10%;
  }

}

   @media only screen and (max-width: 768px) {
     .banTextList1 {
       margin-left: 8%;
     }
     .banTextList {
       margin-left: 37%;
     }
     .textBanBig{
       margin-left: -14%;
     }
   }


.homeBG {
  position: absolute;
  left:0;
  width: 100%;
  background-color: #FAFAFA;
}
