/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, body {
	margin: 0;
	width: 100%;
}

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/* Let's get this party started */
html::-webkit-scrollbar {
    width: 12px;
}

/* Track */
html::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
html::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8ba4d0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*    Custom Responsive Grid view      */

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}
[class*="col-"] {
	float: left;
	padding-right: 8px;
	padding-left: 8px;
}
.grid-pad>[class*='col-']:last-of-type {
	padding: 0 8px;
}

/* For mobile phones: */

[class*="col-"]:last-of-type {
	padding-right: 0;
}
@media only screen and (min-width: 320px) {
	/* For mobile: */
	.col-s-1 {
		width: 8.33%;
	}
	.col-s-2 {
		width: 16.66%;
	}
	.col-s-3 {
		width: 25%;
	}
	.col-s-4 {
		width: 33.33%;
	}
	.col-s-5 {
		width: 41.66%;
	}
	.col-s-6 {
		width: 50%;
	}
	.col-s-7 {
		width: 58.33%;
	}
	.col-s-8 {
		width: 66.66%;
	}
	.col-s-9 {
		width: 75%;
	}
	.col-s-10 {
		width: 83.33%;
	}
	.col-s-11 {
		width: 91.66%;
	}
	.col-s-12 {
		width: 100%;
	}
}
@media only screen and (min-width: 768px) {
	/* For tablets: */
	.col-m-1 {
		width: 8.33%;
	}
	.col-m-2 {
		width: 16.66%;
	}
	.col-m-3 {
		width: 25%;
	}
	.col-m-4 {
		width: 33.33%;
	}
	.col-m-5 {
		width: 41.66%;
	}
	.col-m-6 {
		width: 50%;
	}
	.col-m-7 {
		width: 58.33%;
	}
	.col-m-8 {
		width: 66.66%;
	}
	.col-m-9 {
		width: 75%;
	}
	.col-m-10 {
		width: 83.33%;
	}
	.col-m-11 {
		width: 91.66%;
	}
	.col-m-12 {
		width: 100%;
	}
}
@media only screen and (min-width: 1224px) {
	/* For desktop: */
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}
.grid:after {
	content: "";
	display: table;
	clear: both;
}

/* @media only screen and (orientation: landscape) {
       body {
           background-color: lightblue;
       }
   } */


/*           ENDS           */


/*     FONTS      */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Work+Sans:400,700');

/*      Text      */

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 21px;
    margin-top: -20px;
	text-align: left;
	line-height: 1.58;
	color: #474747;
}
a {
	color: #455A64;
}

h1, h2, h3, h4, h5, li {
	font-family: 'Work Sans', sans-serif;
	color: #262626;
}
body {
	height: 100%;
	background-color: #FAFAFA;
}
a {
	text-decoration: none !important;
}
ul {
	list-style: none;
}
li {
	list-style: none;
}

.mainHeader{
		margin-top: 2%;
		width: 100%;
	}

.contentHeight {
	width: 500px;
}

.centerIt {
	text-align: center;
}
.centerList {
	float: middle;
}
.emoji{
	font-size: 46;
    margin-bottom: -10px;
}

#dribbbleIcon {
	height: 49px;
}
#linkLogoGD{
	height: 11%;
}
.bigImgArticle {
	margin-left: 21.5%;
	margin-top: 15px;
}
.classContent {
	margin-top: 60px;
}

.newClassContent {
	margin-top: 30px;
}

.subtext{
	margin-top: 10px;
	color: #595959;
	font-size: 16px;
	text-align: right;
}

.centerTxt {
	text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
}



.header-cont {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}
.articleTitle {
	font-size: 50px;
}
.overview {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 50px;
	margin-top: -100px;
}
.title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 52px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.subTitle{
	margin-top: 64px;
	margin-bottom: 64px;
	font-size:38px;
}


.linksinMenu {
	list-style-type: none;
	margin: -1;
	padding: 0;
	overflow: hidden;
	height: 65px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #152034;
}
.headerHover {
	width: 100%;
	height: 55px;
	position: fixed;
	top: 63px;
	left: 0px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	background-color: #d1dbed;
	display: none;
}
.hoverlPad {
	padding-left: 70px;
	padding-right: 70px;
	margin-bottom: 16px;
	margin-top: 18px;
	color: #15203;
	font-weight: 400;
	    font-size: 15px;
}

.menuIcon {
	display: none;
	padding-right: 15px;
	padding-top: 15px;
	cursor: pointer;
}
.titleDesc {
	padding-left: 70px;
}
.menuDesc {
	font-size: 18px;
}
.primText {
	opacity: 0.87;
margin-left: 40px;
    margin-bottom: 17px;
margin-right: 50px;
}
.mainText {
	opacity: 0.87;
	font-size: 24px;
	margin-left: 20px;
	margin-top: 16px;
	text-align: center;
	color:  #F1F5F8;
}
.menuLinks {
	font-weight: 400;
	color:  #F1F5F8;
	display: block;
	padding-left: 15px;
    margin-top: 22px;
    font-size: 16px;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.tryButtDev{
    display: inline-block;
	position: relative;
	width: 80%;
	height: 32px;
	background-color: #3F51B5;
	border: none;
	border-radius: 2px;
	color: #FFFFFF;
    margin-top: 15px;
    margin-left: 4%;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	z-index: -1;
}

.tryButtDev:hover {
	background-color: #FFFFFF;
	color: #3F51B5;
		transition-timing-function: ease;
			transition: 0.3s;
}



.tryButtStor{
    display: inline-block;
	position: relative;
	width: 80%;
	height: 32px;
	background-color: #9C27B0;
	border: none;
	border-radius: 2px;
	color: #FFFFFF;
    margin-top: 15px;
    margin-left: 4%;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	z-index: -1;
}

.tryButtStor:hover {
	background-color: #FFFFFF;
	color: #9C27B0;
		transition-timing-function: ease;
			transition: 0.3s;
}

.tryButtDes{
    display: inline-block;
	position: relative;
	width: 80%;
	height: 32px;
	background-color: #F44336;
	border: none;
	border-radius: 2px;
	color: #FFFFFF;
    margin-top: 15px;
    margin-left: 4%;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	z-index: -1;
}

.tryButtGraph{
    display: inline-block;
	position: relative;
	width: 80%;
	height: 32px;
	background-color: #3F51B5;
	border: none;
	border-radius: 2px;
  color: #FFFFFF;
    margin-top: 15px;
    margin-left: 4%;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	z-index: -1;
}

.tryButtGraph:hover {
	background-color: #FFFFFF;
	color: #3F51B5;
		transition-timing-function: ease;
			transition: 0.3s;
}



.linkBorder {
	display: block;
	text-align: center;
	text-decoration: none;
}
.menuLinks li:hover {
	border-bottom: 3px solid #FFFFFF;
		transition: 0.3s;
		transition-timing-function: ease;
}
.mainLogo {
	height: 45px;
	margin-top: 10px;
}
.webdesignColour{
    color:#F44336;
}
.storyColour{
    color:#9C27B0;
}
.graphicDesignColour{
    color:#3F51B5;
}



.subHoverCol:hover{
	background-color: #c3d0e7;
	transition-timing-function: ease;
		transition: 0.3s;
}

#webDLink {
	cursor: pointer;
}

#webDLink:hover{
	border-bottom: 4px solid #E91E63;
	transition: 0.1s;
	transition-timing-function: ease;
}

#SLink {
	cursor: pointer;
}
#SLink:hover{
	border-bottom: 4px solid #9C27B0;
	transition: 0.1s;
	transition-timing-function: ease;
}

#webDevLink {
	cursor: pointer;
}
#webDevLink:hover{
	border-bottom: 4px solid #EECC84;
	transition: 0.1s;
	transition-timing-function: ease;
}

#ALink {
	cursor: pointer;
}
#ALink:hover{
	border-bottom: 4px solid #EECC84;
	transition: 0.1s ;
 transition-timing-function: ease;
}
.cardPad {
	width: 5%;
}
.termsPad {
	text-align: center;

}
.viewmore {
	display: inline-block;
	position: relative;
	width: 120px;
	height: 32px;
    margin-top: 15px;
	background-color: #FFFFFF;
	border: none;
	border-radius: 2px;
	color: black;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}
.logoArticle {
	margin-left: 18%;
}

/* for google material ripple effect */


/* http://thecodeplayer.com/walkthrough/ripple-click-effect-google-material-design */

.tryButtDes:hover {
	background-color: #FFFFFF;
    color: #F44336;
			transition: 0.3s;
	transition-timing-function: ease;
}


.viewmore:hover {
	background-color: #2196F3;
	color: #FFF;
		transition: 0.3s;
		transition-timing-function: ease;
}

/* https://codepen.io/iraycd/pen/dHrxv?css-preprocessor=none */

.viewmore:active {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	transition-delay: 0s;
	background-color: #2196F3;
	color: #FFF;
}

/* make media queries for menu, make it work like twitter? */

@media screen and (max-width:1111px) {
	.headerHover {
		opacity: 0;
		z-index: -1;
	}
	ul.linksinMenu li:not(:first-child) {
		display: none;
	}
	ul.linksinMenu li.menuIcon {
		float: right;
		display: inline-block;
	}
	.headerHover, .designHov {
		display: none;
	}
	ul.linksinMenu.responsive {
		position: relative;
	}
	ul.linksinMenu.responsive li.menuIcon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.linksinMenu.responsive li {
		float: none;
		display: inline;
	}
	ul.linksinMenu.responsive li a {
		display: block;
		text-align: left;
	}
	.burgerLines1, .burgerLines2, .burgerLines3 {
		width: 36px;
		height: 4px;
		background-color: #424242;
		margin: 6px 0;
	}
}
.overviewBod {
	padding-left: 35%;
	padding-right: 35%;
	text-align: left;
}

/* Rotate first bar */

.change .burgerLines1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */

.change .burgerLines2 {
	opacity: 0;
}
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}
#backgroundHead {
	width: 100%;
	position: fixed;
	z-index: -1;
	top: 62px;
	left: 0px;
}


/* ==========MEDIAQUERIES HERE=====*/

@media only screen and (min-width:310px) {
	.articleTextBod {
		margin-top: 40px;
		margin-left: 5%;
		margin-right: 5%;
	}


	#backgroundHead {
	width: 140%;
	}

	.bigImgArticle {
		margin-left: 0%;
		margin-top: 20px;
		max-width: 100%;
	}

	.articleImg {
		margin-left: 1%;
		margin-right: 1%;
		width: 100%;
	}

	.socialIcons {
		height: 49px;
		padding-right: 1%;
		cursor: pointer;
	}
	.smallerIcons{
		height: 62px;
	}
}

@media only screen and (min-width: 768px) {
	.articleTextBod {
		margin-top: 40px;
		margin-left: 10%;
		margin-right: 10%;
	}

	.articleImg {
	margin-left: 1%;
	margin-right: 1%;
	width: 100%;
}



	.bigImgArticle {
		margin-left: 0%;
		margin-top: 20px;
		max-width: 100%;
	}


	#backgroundHead {
	width: 100%;
	}
	.homeBody {
		margin-top: -10%;
	}
	.ecardH {}
}

@media only screen and (min-width: 909px) {
	.articleTextBod {
		margin-top: 40px;
		margin-left: 8%;
		margin-right: 8%;
	}


	.bigImgArticle {
		margin-left: 2%;
		margin-top: 20px;
	}

	.articleImg {
	width: 100%;
	}




}

@media screen and (min-width:1339px) {
	.articleTextBod {
		margin-top: 40px;
		margin-left: 30%;
		margin-right: 30%;
	}

	.bigImgArticle {
		margin-left: 25%;
		margin-right: 25%;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		width: 60%;
	}

	.articleImg {
	width: 100%;
}


	.finalLinkAd{
		margin-left: 33%;
		margin-top: 20px;
		width: 35%;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}
.clearfix:after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*, *:before, *:after, *:first-letter, *:first-line {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a, a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
	a[href^="#"]:after, a[href^="javascript:"]:after {
		content: "";
	}
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
	thead {
		display: table-header-group;
	}
	tr, img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}
}
